<div class="overlay-black">
    <div class="container">
        <div class="banner-main-design">
            <div class="row full-screen align-items-center">
                <div class="col-lg-12 col-md-12">
                    <div class="banner-left text-center">
                        <h1>Pyladies La Paz</h1>
                        <p class="cd-headline clip is-full-width mt-15">
                            <span>PyDay </span>
                            <span class="cd-words-wrapper">
                                <b class="is-visible">Charlas</b>
                                <b>WorkShops</b> 
                                <b>Talleres</b>
                                <b>Proyectos</b>
                                <b>Comunidades.</b>
                            </span>
                        </p>
        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
