    {% load staticfiles %}

    <link rel="stylesheet"  href="{% static 'css/fontawesome-all.css' %}">
    <link rel="stylesheet"  href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet"  href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet"  href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet"  href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet"  href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet"  href="{% static 'css/progresscircle.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800,900%7cOpen+Sans:400,600,700,800" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'css/cubeportfolio.min.css' %}">
    <link rel="stylesheet"  href="{% static 'css/style.css' %}">
    <link rel="stylesheet"  href="{% static 'css/page.css' %}">
    <link rel="stylesheet"  href="{% static 'css/blog.css' %}">
    <link id="colors" rel="stylesheet" href="{% static 'css/black-color.css' %}">