<div class="container">
    <div class="row">
         <div class="col-lg-12">
             <div class="copy-right">
                 <p> &copy; {% now 'Y' %}. PyLadies La Paz </p>
             </div>
         </div>
    </div>
</div>