    {% load staticfiles %}
    <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.js' %}"></script>
    <script src="{% static 'js/animated.headline.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/scrollIt.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/progresscircle.js' %}"></script>
    <script  src="{% static 'js/jquery.cubeportfolio.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
