    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a href="#" class="nav-link active" data-scroll-nav="0" >Inicio</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" data-scroll-nav="1" >Pyladies</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" data-scroll-nav="2" >Actividades</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" data-scroll-nav="3">Speakers</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" data-scroll-nav="4">Cronograma</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" data-scroll-nav="5">Charlas</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" data-scroll-nav="6">Contactos</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" data-scroll-nav="7">Auspiciadores</a>
        </li>
    </ul>