<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a href="{% url 'home:index' %}" class="nav-link active">Inicio</a>
    </li>
    <li class="nav-item">
        <a href="https://www.meetup.com/es-ES/La-Paz-PyLadies-Meetup/" target="_blank" class="nav-link">Pyladies</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'home:workshops' %}" class="nav-link">Actividades</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'home:charlas' %}" class="nav-link">Speakers</a>
    </li>
    <li class="nav-item">
        <a href="{{ url_cronograma }}" class="nav-link">Cronograma</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'home:charlas' %}" class="nav-link">Charlas</a>
    </li>
    <li class="nav-item">
        <a href="https://www.meetup.com/es-ES/La-Paz-PyLadies-Meetup/" target="_blank" class="nav-link">Contactos</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'home:auspiciadores' %}" class="nav-link">Auspiciadores</a>
    </li>
</ul>