{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load staticfiles %}

{% block extracss %}
    <style>
        #form {
        background-color: #F9F9F9;
        }

        .blue {
        color: #2CAFFD;
        }

        #inputDado {
        border-radius: 30px;
        border: 1px solid #000;
        }
    </style>
{% endblock extracss %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
  
        <a class="navbar-brand logo">
            <img src="{% static 'images/logo_pyladies.png' %}">
        </a>
  
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="navbar-collapse collapse" id="navbarCollapse">
            {% include 'partials/navbarlink.html' %}
        </div>
    </div>
  </nav>

<section class="page-title"
    style="background-image: url('{% static 'images/banner/py_image.png' %}');background-attachment: fixed; background-repeat: no-repeat; background-size: cover;background-position: center;"
    data-stellar-background-ratio=".7" data-scroll-index="0">
    <div class="overlay">
        <div class="container">
            <div class="page-title-div">
                <h1>
                    PyDay
                </h1>
            </div>
        </div>
    </div>
</section>

<section class="pt-100 pb-100 blog-details-post" data-scroll-index="5">
    <div class="container">
        <div class="row">
            <div class="col-md-9">

            <div>
                <div class="col">
                    <div class="section-title">
                        <div class="main-title">
                            <div class="title-main-page">
                                <h4>Formulario de Inscripción</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    
            <div class="post-content">
                <div class="entry-body">
                    <form method="post" id="personForm" data-tematics-url="{% url 'inscription:ajax_load_tematic' %}" novalidate>
                        {% csrf_token %}
                        <table>
                            {{ form|crispy }}
                        </table>

                        <div class="cloundcontainer">
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Registrarme</button>

                    </form>
                        
                    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
                    <script>
                        $("#id_tipo").change(function () {
                            var url = $("#personForm").attr("data-tematics-url");
                            var countryId = $(this).val();

                            $.ajax({
                                url: url,
                                data: {
                                    'tipo': countryId
                                },
                                success: function (data) {
                                    $("#id_tipoinscripcion").html(data);
                                    $('.cloundcontainer').empty()
                                    $('.cloundcontainer').append('<div class="cloud"><blockquote>- Con la inscripción usted podra acceder a todas las charlas, asi tambien si gusta puede inscribirse a un taller</blockquote></div>')
                                }
                            });
                    
                        });
                    </script>
                </div>

            </div>
        </div>

    <div class="col-md-3">
      <div class="blog-sidebar">
            <div class="widget categories-widget">
                <h3>Facebook</h3>
                <div class="fb-page" data-href="https://www.facebook.com/pyladieslapaz/" data-tabs="timeline" data-width="700" data-height="700" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Incoslapaz2019/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Incoslapaz2019/">pyladieslapaz</a></blockquote></div>
            </div>
      </div>
    </div>
    
    </div>
    </div>
</section>


{% endblock content %}

{% block extrajs %}

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v3.3&appId=383264375339567&autoLogAppEvents=1"></script>


{% endblock extrajs %}