{% extends 'base.html' %}

{% load staticfiles %}

{% block extracss %}

    <link rel="stylesheet" href="{% static 'css/project.css' %}">

{% endblock extracss %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
  
        <a class="navbar-brand logo">
            <img src="{% static 'images/logo_pyladies.png' %}">
        </a>
  
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="navbar-collapse collapse" id="navbarCollapse">
            {% include 'partials/navbarlink.html' %}
        </div>
    </div>
  </nav>

<section class="page-title"
    style="background-image: url('{% static 'images/banner/py_image.png' %}');background-attachment: fixed; background-repeat: no-repeat; background-size: cover;background-position: center;" data-stellar-background-ratio=".7" data-scroll-index="0">
    <div class="overlay">
        <div class="container">
            <div class="page-title-div">
                <h1>
                    PyDay
                </h1>
            </div>
        </div>
    </div>
</section>

<section class="pt-100 pb-100">
    <div>
        <div class="col">
            <div class="section-title">
                <div class="main-title">
                    <div class="title-main-page">
                        <h4>Te registraste Exitosamente</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <blockquote>
                <p> 
                    {{ message_form }} 
                </p>
                <meta http-equiv="refresh" content="5;url={% url 'home:index' %}">
            </blockquote>
        </div>
    </div>
</section>
{% endblock content %}

{% block extrajs %}

{% endblock extrajs %}