{% extends 'base.html' %}

{% load staticfiles %}

{% block extracss %}

{% endblock extracss %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">

      <a class="navbar-brand logo">
          <img src="{% static 'images/logo_pyladies.png' %}">
      </a>

      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarCollapse">
          {% include 'partials/navbarlink.html' %}
      </div>
  </div>
</nav>

<section class="page-title"
    style="background-image: url('{% static 'images/banner/py_image.png' %}');background-attachment: fixed; background-repeat: no-repeat; background-size: cover;background-position: center;"
    data-stellar-background-ratio=".7" data-scroll-index="0">
    <div class="overlay">
        <div class="container">
            <div class="page-title-div">
                <h1>
                    PyDay
                </h1>
            </div>
        </div>
    </div>
</section>


<br><br><br>

<div class="col">
    <div class="section-title">
        <div class="main-title">
            <div class="title-main-page">
                <h4>Auspiciadores / Comunidades</h4>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-md-4">

        <div class="card mb-5">
          <img class="card-img-top" src="{% static 'images/auspiciadores/01IMT-logotipo.png' %}"></img>
          <div class="card-body">
            <h5 class="card-title">Auspiciador</h5>
          </div>
        </div>

        <div class="card mb-5">
          <img class="card-img-top" src="{% static 'images/auspiciadores/elemental.png' %}"></img>
          <div class="card-body">
            <h5 class="card-title">Auspiciador</h5>
          </div>
        </div>

        
        <div class="card mb-5">
          <img class="card-img-top" src="{% static 'images/auspiciadores/ucb.jpg' %}"></img>
          <div class="card-body">
            <h5 class="card-title">Auspiciador</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-5">
          <img class="card-img-top" src="{% static 'images/auspiciadores/IMT-UCB-logo_Mesa.png' %}"></img>
          <div class="card-body">
            <h5 class="card-title">Auspiciador</h5>
          </div>
        </div>
        <div class="card mb-5">
          <img class="card-img-top" src="{% static 'images/auspiciadores/CloudLP.png' %}"></img>
          <div class="card-body">
            <h5 class="card-title">Auspiciador</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">

        <div class="card mb-5">
          <img class="card-img-top" src="{% static 'images/auspiciadores/pyladies_comunidad.png' %}"></img>
          <div class="card-body">
            <h5 class="card-title">Comunidad</h5>
          </div>
        </div>

        <div class="card mb-5">
          <img class="card-img-top" src="{% static 'images/auspiciadores/Simplificado_blank.png' %}"></img>
          <div class="card-body">
            <h5 class="card-title">Comunidad</h5>
          </div>
        </div>

      </div>
    </div>
</div>


{% endblock content %}

{% block extrajs %}

{% endblock extrajs %}