{% load staticfiles %}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Django Girls, Python, Talleres,La Paz Bolivia, Python La Paz, PyDay, PyDay La Paz, Pyladies La Paz">
    <meta name="description" content="PyDay organizado por la comunidad Pyladies La Paz , Pyladies La Paz">
    <meta name="author" content="@alfredynho, Alfredo Callizaya Gutierrez">
    <meta name="theme-color" content="#FFFFFF">
    <title>Pyladies - Pyday</title>

    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />

    {% include 'partials/css.html' %}

    {% block extracss %}
        <!-- Block extracss -->
    {% endblock extracss %}
</head>
<body>

        {% block content %}

        {% endblock content %}

        <footer>
            {% include 'partials/footer.html' %}
        </footer>

    {% include 'partials/js.html' %}

    {% block extrajs %}
        <!-- Block extrajs -->
    {% endblock extrajs %}
</body>
</html>