{% extends 'base.html' %}

{% load staticfiles %}

{% block extracss %}

{% endblock extracss %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">

        <a class="navbar-brand logo">
            <img src="{% static 'images/logo_pyladies.png' %}">
        </a>

        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarCollapse">
            {% include 'partials/navbarlink.html' %}
        </div>
    </div>
</nav>

<section  class="page-title" style="background-image: url('{% static 'images/banner/py_image.png' %}');background-attachment: fixed; background-repeat: no-repeat; background-size: cover;background-position: center;" data-stellar-background-ratio=".7" data-scroll-index="0">
    <div class="overlay">
        <div class="container">
            <div class="page-title-div">
                <h1>PyDay - Pyladies</h1>
            </div>
        </div>
    </div>
</section>

<section  class="blog-grid-views pt-100 pb-100">
    
    <div class="col">
        <div class="section-title">
            <div class="main-title">
                <div class="title-main-page">
                    <h4>Charlas</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">

            {% for sp in charlas %}

            <div class="col-lg-4 col-md-6">
                <div class="blog-post-wrapper-div">
                    <div>
                        <div class="blog-post-image-div">
                            <div class="clearfix">
                                <div class="img">
                                    <img src="{{ sp.photo.url }}" alt="image" class="img-responsive center-block"> 
                                </div>
                            </div>
                        </div>
                        <div class="post-detail-container-div">
                            <div class="post-content-div">
                                <h3 class="post-title entry-title">
                                <a href="{% url 'speakers:speaker-detail' sp.slug %}">{{ sp.topic }}</a>
                                </h3>
                                <ul class="list-unstyled list-inline post-metadata">
                                <li>
                                    <i class="fas fa-bookmark"></i> {{ sp.first_name }} {{ sp.last_name }} </li>
                                <li>
                                </ul>
                                <p class="post-excerpt"> {{ sp.description_of_the_topic }} </p>
                                <div class="view_detail">
                                <a href="{% url 'speakers:speaker-detail' sp.slug %}" class="blog-btn">Ver mas ...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        </div>
    </div>
</section>
    
{% endblock content %}

{% block extrajs %}

{% endblock extrajs %}