{% extends 'base.html' %}

{% load staticfiles %}

{% block extracss %}

    <link rel="stylesheet" href="{% static 'css/project.css' %}">

{% endblock extracss %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">

        <a class="navbar-brand logo">
            <img src="{% static 'images/logo_pyladies.png' %}">
        </a>

        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarCollapse">
            {% include 'partials/navbarlink.html' %}
        </div>
    </div>
</nav>


<section class="page-title"
    style="background-image: url('{% static 'images/banner/py_image.png' %}');background-attachment: fixed; background-repeat: no-repeat; background-size: cover;background-position: center;"
    data-stellar-background-ratio=".7" data-scroll-index="0">
    <div class="overlay">
        <div class="container">
            <div class="page-title-div">
                <h1>
                    PyDay
                </h1>
            </div>
        </div>
    </div>
</section>

<section class="pt-100 pb-100">
    <div>
        <div class="col">
            <div class="section-title">
                <div class="main-title">
                    <div class="title-main-page">
                        <h4>{{ speaker.topic }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="project-img">
                    <img src="{{ speaker.photo.url }}" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="project-details-title">
                    <h6> {{ speaker.institution }}</h6>
                    <h4>{{ speaker.first_name }} {{ speaker.last_name }}</h4>
                </div>
                <div class="project-details-table">
                    <table>
                        <tbody>
                            <tr>
                                <td><span>Nivel</span></td>
                                <td>{{ speaker.level }}</td>
                            </tr>
                            <tr>
                                <td><span>Horario</span></td>
                                <td>{{ speaker.exhibition_time }}</td>
                            </tr>
                            <tr>
                                <td><span>Area</span></td>
                                <td>{{ speaker.area }}</td>
                            </tr>
                            <tr>
                                <td><span>Tipo</span></td>
                                {% if speaker.is_workshop == True %}
                                    <td>Workshop</td>
                                {% else %}
                                    <td>Charla</td>
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="project-details-title">
                    <h5>Descripción</h5>
                </div>
                <div class="project-features">
                    <div class="row">
                        <div class="col-md-15" align="justify">
                            <p>{{ speaker.description_of_the_topic }}</p>
                        </div>

                        <div class="contact-social about-contact">
                            <ul>
                                <li class="social-text">Redes Sociales:</li>
                                
                                <li><a href="{{ speaker.social_facebook }}" target="_blank"><i class="fab fa-facebook-f"></i></a> </li>
                                <li><a href="{{ speaker.social_linkedin }}" target="_blank"><i class="fab fa-linkedin-in"></i>
                                <li><a href="{{ speaker.social_twitter }}" target="_blank"><i class="fab fa-twitter" target="_blank"></i></a></li>
                                <li><a href="https://www.meetup.com/es-ES/La-Paz-PyLadies-Meetup" target="_blank"><i class="fab fa-meetup"></i></a></li>
                            </ul>
                        </div>

                        <div class="col-md-6">

                        <div>
                            <a href="{% url 'inscription:formulario' %}" class="blog-btn">Inscribirme</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="project-description">
                    <p>
                        {{ speaker.biography }}
                    </p><br>
                    <div id="disqus_thread"></div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block extrajs %}

<script>
    (function () {
        var d = document,
            s = d.createElement('script');
        s.src = 'https://pyladies-la-paz.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>

{% endblock extrajs %}