{% extends 'base.html' %}

{% load staticfiles %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'css/leaflet.css' %}">

    <style>
        #leaflet { height: 680px; }
        .custom .leaflet-popup-tip,
        .custom .leaflet-popup-content-wrapper {
            background:#D72951;
            color: #ffffff;
        }
    </style>
{% endblock extracss %}

{% block content %}


<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">

        <a class="navbar-brand logo">
            <img src="{% static 'images/logo_pyladies.png' %}">
        </a>

        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarCollapse">
            {% include 'partials/navbar.html' %}
        </div>
    </div>
</nav>


<section id="Particle-ground" class="design banner-layer-wave" style="background-image: url('{% static 'images/banner/python.png' %}'); background-attachment: fixed; background-size: cover; background-repeat: no-repeat;" data-stellar-background-ratio=".7" data-scroll-index="0">
    {% include 'partials/banner.html' %}
</section>

<section class="pt-100 pb-100" data-scroll-index="1">
   <div class="container">
       <div class="row">
           <div class="col-lg-4">
                <div>
                     <img src="{% static 'images/about/pyladies_logo.png' %}" alt="">
                </div>
           </div>
           <div class="col-lg-8">
                 <div class="about-text about-text-blk">
                     <h2 class="about-title">Pyladies</h2>
                     <h6>La comunidad</h6>
                     <p>PyLadies es un grupo de mentor@s que se enfoca en ayudar a que más mujeres
                         se conviertan en participantes activas en la comunidad de código abierto de Python.
                     </p>
                 </div>
                 <div class="contact-social about-contact">
                     <ul>
                         <li class="social-text">Conócenos:</li>
                        <li><a href="https://www.facebook.com/pyladieslapaz/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UC1XIES8nbtz5SrjWbXhkuPQ" target="_blank"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="https://www.meetup.com/es-ES/La-Paz-PyLadies-Meetup" target="_blank"><i class="fab fa-meetup"></i></a></li>
                        <li><a href="https://twitter.com/PyLadiesLaPaz" target="_blank"><i class="fab fa-twitter"></i></a></li>
                     </ul>
                 </div>
                <div class="btn-design">
                    <a href="{% url 'inscription:formulario' %}" class=" blog-btn" style="margin-right: 10px;">Inscribirme al PyDay</a>
                </div>
       </div>
       </div>
   </div>
</section>

<section class=" skills  bg-gray pt-100 pb-100" >
    <div class="container">

        <div class="row">
            <div class="col">
                <div class="section-title">
                    <div class="main-title">
                        <div class="title-main-page">
                            <h4>Tematicas del PyDay</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            {% for tc in thematic %}
                {% if tc.right_position == True %}
                    <div class="col-lg-6 skill-sec">
                        <div class="skill-div ">
                            <div class="skills-item mb-35">
                            <h6>{{ tc.name }}</h6>
                            <div class="bar">
                                <span class="fill" data-width="{{ tc.percentage }}%"></span>
                            </div>
                            <div class="tip"></div>
                            </div>

                        </div>
                    </div>
                {% elif tc.right_position == False %}
                    <div class="col-lg-6">
                        <div class="skill-div ">
                            <div class="skills-item mb-35">
                            <h6>{{ tc.name }}</h6>
                            <div class="bar">
                                <span class="fill" data-width="{{ tc.percentage }}%"></span>
                            </div>
                            <div class="tip"></div>
                            </div>
                        </div>
                    </div>
                {% endif %}
             {% endfor %}
        </div>
    </div>
</section>

<section class="pt-100 pb-100" data-scroll-index="2">
    <div class="container">
        <div class="row">
            <div class="col">
               <div class="section-title">
                    <div class="main-title">
                        <div class="title-main-page">
                            <h4>Actividades</h4>
                           <p>PyDay</p>
                        </div>
                    </div>
               </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="service-item">
                    <div class="service-img">
                         <div class="service-icon-shedow">
                                <i class="fab fa-connectdevelop"></i>
                         </div>
                    </div>
                    <div class="service-text">
                        <h4>Charlas</h4>
                        <p>Charlas Python.</p>
                        <div class="btn-design">
                            <a href="{% url 'home:charlas' %}" class=" blog-btn" style="margin-right: 10px;">Ver
                                Charlas</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-item">
                    <div class="service-img">
                         <div class="service-icon-shedow">
                            <i class="fas fa-briefcase"></i>    
                         </div>
                    </div>
                    <div class="service-text">
                        <h4>Workshops</h4>
                        <p>Workshops Python.</p>
                        <div class="btn-design">
                            <a href="{% url 'home:workshops' %}" class=" blog-btn" style="margin-right: 10px;">Ver
                                Workshops</a>
                        </div>        
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-item">
                    <div class="service-img">
                         <div class="service-icon-shedow">
                            <i class="fab fa-codepen"></i>
                         </div>
                    </div>
                    <div class="service-text">
                        <h4>Comunidades</h4>
                        <p>Conocer, comparte</p>
                        <div class="btn-design">
                            <a href="{% url 'home:auspiciadores' %}" class=" blog-btn" style="margin-right: 10px;">Ver
                                Comunidades</a>
                        </div>        
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="testimonials counter-area" style="background-image: url('{% static 'images/banner/py_image.png' %}'); background-attachment: fixed; background-repeat: no-repeat; background-size: cover;background-position: center;">
    <div class="overlay-black  pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <h4 style="color:#ffffff;" class="text-center">SPEAKERS PYDAY</h4>
                <div id="testimonial-slider" class="owl-carousel">
                
                {% for sp in speaker %}
                    <div class="testimonial">
                        <p class="testi-description">
                           {{ sp.topic|truncatechars:110 }}
                        </p>
    
                        <div class="testimonial-review">
                            <div class="pic">
                                <img src="{{ sp.photo.url }}" alt="">
                            </div>
                            <h4 class="testimonial-title">
                                <a href="{% url 'speakers:speaker-detail' sp.slug %}" >{{ sp.first_name }} {{ sp.last_name }}</a>
                                <small>
                                    {% if sp.is_workshop == True %}
                                        Workshop
                                    {% else %}
                                        Charla
                                    {% endif %}
                                </small>
                            </h4>
                            <div class="btn-design">
                                <a href="{% url 'speakers:speaker-detail' sp.slug %}" class=" blog-btn" style="margin-right: 10px;">Ver mas ...</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<section class="pt-100 pb-100 timeline-bg" data-scroll-index="4">
     <div class="container">
        <div class="row">
            <div class="col">
               <div class="section-title">
                    <div class="main-title">
                        <div class="title-main-page">
                            <h4>Agenda</h4>
                            <div class="btn-design">
                                <a href="{% url 'inscription:formulario' %}" class="blog-btn" style="margin-right: 10px;">Inscribirme al PyDay</a>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
        </div>
        <div class="row">
            <div class="main-timeline">

                <div class="timeline">
                    <div class="timeline-icon">
                        <img src="{% static 'images/agenda_pyday.png' %}" alt="">
                    </div>
                    <div class="timeline-content">
                        <span class="date">8:45 a 9:15</span>
                        <h5 class="title">Bienvenida/Team</h5>
                        <p class="description">
                          Bienvenida e inauguración del evento PyDay, El evento acaba de iniciar, premios, sorpresas y mucho más
                          PyLadies es un grupo de mentor@s que se enfoca en ayudar a que más mujeres se conviertan en participantes activas en la comunidad de código abierto de Python.
                        </p>
                    </div>
                </div>
     
                <div class="timeline">
                    <div class="timeline-icon">
                        <img src="{% static 'images/agenda_pyday.png' %}" alt="">
                    </div>
                    <div class="timeline-content">
                        <span class="date">9:15 a 10:00</span>
                        <h5 class="title">Introducción a Python</h5>
                        <p class="description">
                           Workshop, Rafael Villca
                        </p>
                    </div>
                </div>
                    
            </div>

        </div>
     </div>
 </section>

 <section class="portfolio pt-100 pb-100" data-scroll-index="3">
        <div class="container">
            <div class="row">
                <div class="col">
                   <div class="section-title">
                        <div class="main-title">
                            <div class="title-main-page">
                                <h4>Organizers</h4>
                               <p>PyDay La Paz</p>
                            </div>
                        </div>
                   </div>
                </div>
            </div>
    
            <div id="js-grid-slider-projects" class="cbp">                
                                            
                {% for org in organizer %}
                  <div class="cbp-item identity graphic">
                      <div class="cbp-caption">
                          <div class="cbp-caption-defaultWrap">
                              <img src="{{ org.photo.url }}" width=200 height=270 alt="">
                          </div>
                          <div class="cbp-caption-activeWrap">
                              <div class="cbp-l-caption-alignCenter">
                                  <div class="cbp-l-caption-body">
                                      <a href="{{ org.social_facebook }}"target="_blank" class=" cbp-l-caption-buttonLeft" rel="nofollow"><i class="fas fa-link"></i></a>
                                      <a href="{{ org.photo.url }}" class="cbp-lightbox cbp-l-caption-buttonRight"><i class="fas fa-search"> </i></a>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="cbp-l-grid-projects-title">{{ org.first_name }} {{ org.last_name }}</div>
                      <div class="cbp-l-grid-projects-desc">{{ org.area }}</div>
                  </div>
                {% endfor %}            
            </div>
        </div>
    </section>

 <section class="counter-area" style="background-image: url('{% static 'images/banner/py_image.png' %}'); background-attachment: fixed; background-repeat: no-repeat; background-size: cover; background-position: center;">
   <div class="overlay-black  pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="counter-bg">
                    <div class="row">

                        {% for st in statistics %}
                          
                        <div class="col-lg-3 col-md-6">
                            <div class="counter-item">
                                <div class="d-flex align-items-center">
                                    <div class="w-25">
                                        <div class="counter-img">
                                            <i class="{{ st.icon }}"></i>
                                        </div>
                                    </div>
                                    <div class="w-75 counter-text">
                                        <h2 class="counter" data-count="{{ st.percentage }}">1</h2>
                                        <h5>{{ st.name }}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}

                    </div>
                </div>
        </div>
        </div>
     </div>
   </div>
</section>

<section class="pt-100 pb-100" data-scroll-index="5">
    <div class="container">
        <div class="row">
            <div class="col">
               <div class="section-title">
                    <div class="main-title">
                        <div class="title-main-page">
                            <h4>Workshop</h4>
                        </div>
                    </div>
               </div>
            </div>
        </div>
        <div class="row">

            {% for wk in workshop %}
            <div class="col-lg-4 col-md-6">
                <div class="blog-post-wrapper-div">
                    <div>
                        <div class="blog-post-image-div">
                            <div class="clearfix">
                            <div class="img">
                            <img src="{% static 'images/blog/dummy-image.png' %}" alt="image" class="img-responsive center-block"> </div>
                            </div>
                        </div>
                        <div class="post-detail-container-div">
                            <div class="post-content-div">
                                <h3 class="post-title entry-title">
                                <a href="{% url 'speakers:speaker-detail' wk.slug %}">{{ wk.topic }}</a>
                                </h3>
                                <ul class="list-unstyled list-inline post-metadata">
                                <li>
                                    <i class="fas fa-certificate"></i> Nivel - {{ wk.level }}</li>
                                </ul>
                                <p class="post-excerpt">{{ wk.description_of_the_topic|truncatechars:100 }}</p>
                                <div class="view_detail">
                                <a href="{% url 'speakers:speaker-detail' wk.slug %}" class="blog-btn">Ver mas <i class="fas fa-arrow-right"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        </div>
    </div>
</section>

<section class="contact"  style="background-image: url('{% static 'images/map.jpg' %}')" data-scroll-index="6">
    <div class="container-fluid">
         <div class="row">
            <div class="col-lg-7 bAg-white pl-5">
                <div class="contact-me">
                  <div class="row">
                      <div class="col-lg-12">
                          <div class="contact-me-title">
                              <h6>Contáctanos</h6>
                              <h2>Tienes dudas sobre el Evento?</h2>
                              <p>Escribenos si tuvieras alguna duda.</p>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                    <div class="contact-form">
                        
                        <form id='contact-form' method='POST'><input type='hidden' name='form-name' value='contactForm' />
                            <div class="row">
                               <div class="col-md-12">
                                  <div class="form-group">
                                     <input type="text" name="name" class="form-control" id="first-name" placeholder="Nombre *" required="required">
                                  </div>
                               </div>
                               <div class="col-md-12">
                                  <div class="form-group">
                                     <input type="email" name="email" class="form-control" id="email" placeholder="Email *" required="required">
                                  </div>
                               </div>

                               <div class="col-md-12">
                                  <div class="form-group">
                                       <textarea rows="6" name="message" class="form-control" id="description" placeholder="Mensaje *" required="required"></textarea>
                                  </div>
                               </div>
                                <div class="col-md-12 text-right">
                                    <button id="contact-submit" class="submit div-btn">
                                        Enviar Mensaje
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-lg-5 bg-map map">
                <div id="leaflet"></div>
            </div>
         </div>
    </div>
</section>

<section class="info" style="background-image: url('{% static 'images/banner/pyladies_banner.png' %}'); background-attachment: fixed; background-repeat: no-repeat; background-size: cover;background-position: center;" >
    <div class="overlay-black pt-100 pb-100">
    <div class="container">
         <div class="row">
             <div class="col-lg-4">
                 <div class="contact-info d-flex">
                     <div class="w-25">
                         <div class="contact-icon">
                        <i class="fas fa-phone"></i>
                         </div>
                     </div>
                     <div class="contact-text w-75">
                         <h2>Teléfono</h2>
                         <p>(+591) 7 328 7677</p>
                     </div>
                 </div>
             </div>
             <div class="col-lg-4">
                 <div class="contact-info d-flex">
                     <div class="w-25">
                         <div class="contact-icon">
                                <i class="far fa-envelope-open"></i>
                         </div>
                     </div>
                     <div class="contact-text w-75">
                         <h2>Social</h2>
                         <p>@pyladieslapaz</p>
                     </div>
                 </div>
             </div>
             <div class="col-lg-4">
                 <div class="contact-info d-flex mb-0">
                     <div class="w-25">
                         <div class="contact-icon">
                                <i class="fab fa-bandcamp"></i>
                         </div>
                     </div>
                     <div class="contact-text w-75">
                         <h2>Meetup</h2>
                         <p>PyLadies <br> La Paz</p>
                     </div>
                 </div>
         </div>
    </div>                 
  </div>
    </div>
</section>

<section class="pt-100 pb-100"  data-scroll-index="7">
    <div class="main-title">
        <div class="title-main-page">
            <h4>Auspiciadores</h4>
        </div>
    </div> <br><br><br>

    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="row justify-content-center">
                    <div class="col-lg-3 text-center">
                        <div class="logo-img">
                            <img src="{% static 'images/auspiciadores/01IMT-logotipo.png' %}" alt="Ingenieria Mecatronica">
                        </div>
                    </div>
                    <div class="col-lg-3 text-center">
                        <div class="logo-img">
                            <img src="{% static 'images/auspiciadores/IMT-UCB-logo_Mesa.png' %}" alt="Carrera de Ingenieria Mecatronica">
                        </div>
                    </div>
                    <div class="col-lg-3 text-center">
                        <div class="logo-img">
                            <img src="{% static 'images/auspiciadores/CloudLP.png' %}" alt="GDG Cloud La Paz">
                        </div>
                    </div>
                    <div class="col-lg-3 text-center">
                        <div class="logo-img">
                            <img src="{% static 'images/logo_pyladies.png' %}" alt="PyLadies La Paz">
                        </div>
                    </div>
                    <div class="col-lg-3 text-center">
                        <div class="logo-img">
                            <img src="{% static 'images/auspiciadores/Simplificado_blank.png' %}" alt="Club Ciencia de Datos La Paz">
                        </div>
                    </div>
                    <div class="col-lg-3 text-center">
                        <div class="logo-img">
                            <img src="{% static 'images/auspiciadores/elemental.png' %}" alt="Elemental">
                        </div>
                    </div>
                    <div class="col-lg-3 text-center">
                        <div class="logo-img">
                            <img src="{% static 'images/auspiciadores/ucb.jpg' %}" alt="Universidad Catolica Boliviana, San Pablo">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v3.3'
    });
  };

  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/es_ES/sdk/xfbml.customerchat.js';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your customer chat code -->
<div class="fb-customerchat"
  attribution=setup_tool
  page_id="2083113775137504"
  theme_color="#ff5ca1"
  logged_in_greeting="Comunidad PyLadies La Paz?"
  logged_out_greeting="Comunidad PyLadies La Paz?">
</div>


{% endblock content %}

{% block extrajs %}

    <script src="{% static 'js/leaflet.js' %}"></script>

    <script>

        var map = L.map('leaflet', {
            center: [-16.52272, -68.11290],
            zoom: 17,
            dragging: true,
            scrollWheelZoom:false
        });

        var greenIcon = L.icon({
            iconUrl: "{% static 'images/pyladies_maps.png' %}",

            iconSize:     [65, 80],
            shadowSize:   [50, 64],
            iconAnchor:   [22, 94],
            shadowAnchor: [4, 62],
            popupAnchor:  [-3, -76]
        });

        L.control.scale().addTo(map);

        var customPopup = "<b class='text-center'> PyDay <br>Av. 14 de Septiembre 2, La Paz 4807  </b>";

        var customOptions =
        {
            'maxWidth': '500',
            'className' : 'custom'
        }

        L.marker([-16.52271,-68.11198], {icon: greenIcon}).addTo(map).bindPopup(customPopup,customOptions);

        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '<a href="http://osm.org/copyright">OpenStreetMap</a>'
            }).addTo(map);

    </script>

    <script src="{% static 'js/particles.js' %}"></script>
    <script src="{% static 'js/particle-main.js' %}"></script>

{% endblock extrajs %}